<div class="container">
    <section id="dg-container" class="dg-container">
		<div class="dg-wrapper">
		{% for key, content in contents %}
			<a href="#"><img src="{{ content.file }}" alt="">
			<div>{{ content.body |e }}</div></a>
		{% endfor %}
		</div>
		<!--nav>	
			<span class="dg-prev">&lt;</span>
			<span class="dg-next">&gt;</span>
		</nav-->
	</section>
</div>